#new-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 2rem auto;
  font: 700 0.875rem/1.6 Nunito, sans-serif;
  text-transform: uppercase;
  color: var(--primary-300);
}
