@mixin truncate($rows) {
  -webkit-line-clamp: $rows;
}

%truncateBase {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 2rem;
  padding: 1.5rem 1.25rem;

  border-radius: 1rem;
  background: var(--gray-600);
  transition: background-color 0.2s;

  app-avatar {
    display: none;
  }

  &:hover {
    background: var(--gray-500);
  }
}

.info {
  width: 100%;
  text-align: start;

  h2 {
    @extend %truncateBase;
    @include truncate(1);
    font: bold 1.25rem/1.6 Nunito, sans-serif;
  }

  p {
    @extend %truncateBase;
    @include truncate(1);
    color: var(--gray-200);
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  gap: 0.5rem;
  color: var(--gray-200);

  // transition: width 0.2s ease-in-out;

  button[mat-icon-button] {
    transform: scale(0.8);
  }
}

@media screen and (min-width: 992px) {

  .card {
    app-avatar {
      display: block;
    }

    &:hover {
      .actions {
        width: auto;
        overflow: visible;
      }
    }
  }

  .actions {
    width: 0;
    overflow: hidden;
  }
}
