<div class="card">
  <app-avatar [letter]="user.username.charAt(0).toUpperCase()"></app-avatar>
  <span class="info">
    <h2>{{ user.username }}</h2>
    <p>{{ user.role }}</p>
  </span>

  <section class="actions">
    <button
      title="Editar"
      mat-icon-button
      aria-label="Example icon button with a edit"
      (click)="editUser(user)"
    >
      <mat-icon>edit_square</mat-icon>
    </button>
    <button
      title="Deletar"
      mat-icon-button
      aria-label="Example icon button with a trash"
      disabled
    >
      <mat-icon>delete</mat-icon>
    </button>
  </section>
</div>
