<div class="card">
  <app-avatar letter="B"></app-avatar>
  <span class="info">
    <h2 [routerLink]="['/', user.id]">{{ user.username }}</h2>
    <p>{{ user.role }}</p>
  </span>

  <section class="actions">
    <button
      mat-icon-button
      aria-label="Example icon button with a arrow right"
      class="icon-button-small"
    >
      <mat-icon>edit_square</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Example icon button with a arrow right"
      class="icon-button-small"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </section>
</div>
