@mixin truncate($rows) {
  -webkit-line-clamp: $rows;
}

%truncateBase {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.25rem;

  text-align: center;
  border-radius: 1rem;
  background: var(--gray-600);
  transition: background-color 0.2s;
  cursor: pointer;

  h2 {
    @extend %truncateBase;
    @include truncate(1);
    font: bold 1.25rem/1.6 Nunito, sans-serif;
  }

  img {
    width: 6.25rem;
    height: 6.25rem;
    margin-top: -4rem;
  }

  p {
    @extend %truncateBase;
    @include truncate(2);
  }

  strong {
    font: 800 1.5rem/1.6 Nunito, sans-serif;
    color: var(--accent-300);
  }

  &:hover {
    background: var(--gray-500);
  }
}
