<div class="card">
  <img [src]="product.imageBase64" />
  <span class="info">
    <span class="title">
      <a [routerLink]="['/', product.id]">{{ product.title }}</a>
      <strong>{{ product.price }}</strong>
    </span>
    <p>{{ product.description }}</p>
  </span>

  <section class="actions">
    <button
      title="Editar"
      mat-icon-button
      aria-label="Example icon button with a edit"
      (click)="editProduct(product)"
    >
      <mat-icon>edit_square</mat-icon>
    </button>
    <button
      title="Deletar"
      mat-icon-button
      aria-label="Example icon button with a trash"
      (click)="deleteProduct(product.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </section>
</div>
