.header-list {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 1rem;
  margin: 2rem 0;

  p {
    color: var(--gray-200);
    font: 400 0.875rem/1.6 Nunito, sans-serif;
    white-space: nowrap;

    &:last-child {
      width: 100%;
      text-align: end;
    }
  }
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: stretch;
  justify-content: flex-start;
  gap: 4rem 2rem;
  padding: 2rem 0;
}
