.radio-button label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  button[mat-icon-button] {
    transform: scale(0.6);

    .mat-icon {
      transform: scale(1.6);
    }
  }
}

#min-term {
  margin-right: 0.5rem;
}
