<aside>
  <mat-radio-group aria-label="Select an option" class="radio-group">
    <mat-radio-button class="radio-button" *ngFor="let option of options" [value]="option.range">
      <span *ngIf="!option.range.min">Até</span>
      <span *ngIf="option.range.min">R$ {{option.range.min}} - </span>
      <span>R$ {{option.range.max}}</span>
    </mat-radio-button>
    <mat-radio-button class="radio-button" [value]="0">
      <app-input id="min-term" size="small" placeholder="Mín"></app-input>
      <app-input id="max-term" size="small" placeholder="Máx"></app-input>
      <button
        mat-icon-button
        aria-label="Example icon button with a arrow right"
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-radio-button>
  </mat-radio-group>
</aside>
