<section class="content">
  <input matInput id="search-term" class="input-large" placeholder="Buscar produto" />

  <aside class="filters">
    <mat-radio-group aria-label="Select an option" class="radio-group">
      <mat-radio-button class="radio-button" value="1">
        Até R$ 50,00
      </mat-radio-button>
      <mat-radio-button class="radio-button" value="2">
        R$ 50,00 - R$ 200
      </mat-radio-button>
      <mat-radio-button class="radio-button" value="2">
        R$ 200,00 - R$ 500
      </mat-radio-button>
      <mat-radio-button class="radio-button" value="2">
        <input matInput class="input-small" style="margin-right: 0.5rem;" placeholder="Mín" />
        <input matInput class="input-small" placeholder="Máx" />
        <button
          mat-icon-button
          aria-label="Example icon button with a arrow right"
          class="icon-button-small"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-radio-button>
    </mat-radio-group>
  </aside>

  <div class="listContainer">
    <span>teste</span>
    <span>teste</span>
    <span>teste</span>
    <span>teste</span>
    <span>teste</span>
    <span>teste</span>
    <span>teste</span>
    <span>teste</span>
  </div>
</section>
