<header [ngClass]="{ 'bg-nav': bgNav }">
  <nav class="navbar">
    <ul>
      <li>
        <a
          class="menu-button"
          title="Produtos"
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Produtos
        </a>
      </li>
      <span class="spacer"></span>
      <li>
        <a
          class="menu-button"
          title="Inventário"
          [routerLink]="['/inventory']"
          routerLinkActive="active"
        >
          <mat-icon>category</mat-icon>
          <p>Inventário</p>
        </a>
      </li>
      <li>
        <a
          class="menu-button"
          title="Usuários"
          [routerLink]="['/users']"
          routerLinkActive="active"
        >
          <mat-icon>group</mat-icon>
          <p>Usuários</p>
        </a>
      </li>
      <button class="menu-button" (click)="logout()" title="Sair">
        <mat-icon>logout</mat-icon>
        <p>Sair</p>
      </button>
    </ul>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
